.page-content {
  padding: 20px;
}

.card {
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

.table {
  th {
    font-weight: 600;
    background-color: #f8f9fa;
  }
}

.pagination {
  cursor: pointer;
  
  .page-link {
    cursor: pointer;
  }
}

.modal.show {
  display: block;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}
