<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-sm-flex align-items-center justify-content-between">
        <h4 class="mb-sm-0 font-size-18">Chartjs</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">Charts</a></li>
            <li class="breadcrumb-item active">Chartjs</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Line Chart</h4>
        </div>
        <div class="card-body">
          <canvas class="chartjs-chart" data-colors='["rgba(81, 86, 190, 0.2)", "#5156be", "rgba(235, 239, 242, 0.2)", "#ebeff2"]' id="lineChart"></canvas>
        </div>
      </div>
    </div>
    <!-- end col -->
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Bar Chart</h4>
        </div>
        <div class="card-body">
          <canvas class="chartjs-chart" data-colors='["rgba(41, 181, 125, 0.8)", "rgba(41, 181, 125, 0.9)"]' id="bar"></canvas>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Pie Chart</h4>
        </div>
        <div class="card-body">
          <canvas class="chartjs-chart" data-colors='["#2ab57d", "#ebeff2"]' id="pieChart"></canvas>
        </div>
      </div>
    </div>
    <!-- end col -->
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Donut Chart</h4>
        </div>
        <div class="card-body">
          <canvas class="chartjs-chart" data-colors='["#5156be", "#ebeff2"]' id="doughnut"></canvas>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Polar Chart</h4>
        </div>
        <div class="card-body">
          <canvas class="chartjs-chart" data-colors='["#fd625e", "#2ab57d", "#ffbf53", "#5156be"]' id="polarArea"></canvas>
        </div>
      </div>
    </div>
    <!-- end col -->
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Radar Chart</h4>
        </div>
        <div class="card-body">
          <canvas class="chartjs-chart" data-colors='["rgba(42, 181, 125, 0.2)", "#2ab57d", "rgba(81, 86, 190, 0.2)", "#5156be"]' id="radar"></canvas>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>