<div class="vertical-menu collapsed" (mouseenter)="expandSidebar()" (mouseleave)="collapseSidebar()">
  <div class="h-100" data-simplebar="">
    <!-- Logo -->
    <div class="navbar-brand-box">
      <a class="logo" href="#">
        <span class="logo-sm">
          <img alt="" height="24" src="assets/images/logo-sm.svg"/>
        </span>
        <span class="logo-lg">
          <img alt="" height="24" src="assets/images/logo-sm.svg"/>
          <span class="logo-txt menu-text">EduPulse</span>
        </span>
      </a>
    </div>
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li><a routerLink="/dashboard" routerLinkActive="active"><i class="mdi mdi-view-dashboard"></i><span class="menu-text">Dashboard</span></a></li>
        <li><a href="#"><i class="mdi mdi-file-document-outline"></i><span class="menu-text">Exams</span></a></li>
        <li><a href="#"><i class="mdi mdi-clipboard-text-outline"></i><span class="menu-text">Assignments</span></a></li>
        <li><a href="#"><i class="mdi mdi-chart-bar"></i><span class="menu-text">Results</span></a></li>
        <li><a href="#"><i class="mdi mdi-calendar-check"></i><span class="menu-text">Attendance</span></a></li>
        <li><a href="#"><i class="mdi mdi-calendar-star"></i><span class="menu-text">Events</span></a></li>
        <li><a routerLink="/teachers" routerLinkActive="active"><i class="mdi mdi-account-tie"></i><span class="menu-text">Teachers</span></a></li>
        <li><a routerLink="/students" routerLinkActive="active"><i class="mdi mdi-account-group"></i><span class="menu-text">Students</span></a></li>
        <li><a routerLink="/parents" routerLinkActive="active"><i class="mdi mdi-account-multiple"></i><span class="menu-text">Parents</span></a></li>
        <li><a routerLink="/classes" routerLinkActive="active"><i class="mdi mdi-google-classroom"></i><span class="menu-text">Classes</span></a></li>
        <li><a routerLink="/lessons" routerLinkActive="active"><i class="mdi mdi-book-open-page-variant"></i><span class="menu-text">Lessons</span></a></li>
        <li><a routerLink="/subjects" routerLinkActive="active"><i class="mdi mdi-book-multiple"></i><span class="menu-text">Subjects</span></a></li>
        <li><a href="#"><i class="mdi mdi-message-text"></i><span class="menu-text">Messages</span></a></li>
        <li><a href="#"><i class="mdi mdi-bullhorn"></i><span class="menu-text">Announcements</span></a></li>
        <li><a href="#"><i class="mdi mdi-account-circle"></i><span class="menu-text">Profile</span></a></li>
        <li><a href="#"><i class="mdi mdi-cog"></i><span class="menu-text">Settings</span></a></li>
        <li><a href="#"><i class="mdi mdi-logout"></i><span class="menu-text">Logout</span></a></li>
      </ul>
      <div class="card sidebar-alert border-0 text-center mx-4 mb-0 mt-5">
        <div class="card-body">
          <img alt="" src="assets/images/giftbox.png"/>
          <div class="mt-4">
            <h5 class="alertcard-title font-size-16">Unlimited Access</h5>
            <p class="font-size-13">Upgrade your plan from a Free trial, to select "Business Plan".</p>
            <a class="btn btn-primary mt-2" href="#!">Upgrade Now</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Sidebar -->
  </div>
</div>