<div class="page-content">
  <div class="container-fluid">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
          <h4 class="mb-sm-0 font-size-18">Apex Charts</h4>
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="javascript: void(0);">Charts</a></li>
              <li class="breadcrumb-item active">Apex Charts</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-xl-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Line Chart</h4>
            <p class="card-title-desc">Simple line chart example</p>
          </div>
          <div class="card-body">
            <div id="line_chart" class="apex-charts" data-colors='["#5156be"]'></div>
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Area Chart</h4>
            <p class="card-title-desc">Simple area chart example</p>
          </div>
          <div class="card-body">
            <div id="area_chart" class="apex-charts" data-colors='["#34c38f"]'></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Column Chart</h4>
            <p class="card-title-desc">Simple column chart example</p>
          </div>
          <div class="card-body">
            <div id="column_chart" class="apex-charts" data-colors='["#556ee6"]'></div>
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Bar Chart</h4>
            <p class="card-title-desc">Simple bar chart example</p>
          </div>
          <div class="card-body">
            <div id="bar_chart" class="apex-charts" data-colors='["#f1b44c"]'></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Mixed Chart</h4>
            <p class="card-title-desc">Line & Column chart example</p>
          </div>
          <div class="card-body">
            <div id="mixed_chart" class="apex-charts" data-colors='["#556ee6", "#34c38f"]'></div>
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Donut Chart</h4>
            <p class="card-title-desc">Simple donut chart example</p>
          </div>
          <div class="card-body">
            <div id="donut_chart" class="apex-charts" data-colors='["#556ee6", "#34c38f", "#f1b44c", "#50a5f1", "#f46a6a"]'></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Pie Chart</h4>
            <p class="card-title-desc">Simple pie chart example</p>
          </div>
          <div class="card-body">
            <div id="pie_chart" class="apex-charts" data-colors='["#556ee6", "#34c38f", "#f1b44c", "#50a5f1"]'></div>
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Radial Chart</h4>
            <p class="card-title-desc">Simple radial chart example</p>
          </div>
          <div class="card-body">
            <div id="radial_chart" class="apex-charts" data-colors='["#556ee6", "#34c38f", "#f1b44c"]'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- container-fluid -->
</div>